.mapboxer-text-ctrl, .mapboxer-mouse-position-ctrl, .mapboxer-filter-ctrl {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 8px;
}

.mapboxer-mouse-position-ctrl {
  width: 300px;
  text-align: center;
  display: none;
}

.mapboxer-mouse-position-ctrl:empty {
  display: none;
}

.mapboxer-filter-ctrl {
  background: #323232;
  color: #FFFFFF;
}

.mapboxer-filter-ctrl input[type='text'] {
  /* font: 10pt "mono", sans-serif; */
  font: 16px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  padding: 5px;
  background: #323232;
  color: #FFFFFF;
  border: 1px solid #46514E;
}
