canvas:focus {
  outline: none;
}

.mapboxer-text-ctrl, .mapboxer-mouse-position-ctrl,
.mapboxer-legend-ctrl /*, .mapboxer-filter-ctrl */ {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 8px;
}

.mapboxer-mouse-position-ctrl {
  width: 300px;
  text-align: center;
  display: none;
}

.mapboxer-mouse-position-ctrl:empty {
  display: none;
}

.mapboxer-filter-ctrl-unused {
  /* background: #323232; */
  background: none;
  color: #FFFFFF;
  /* display: flex; */
  padding: 2px;
}

/* input[type='text'] */
.mapboxer-filter-ctrl textarea {
  /* font: 10pt "mono", sans-serif; */
  font: 16px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  /* border: 1px solid #46514E; */
  resize: none;
  vertical-align: middle;
}

.mapboxer-slider-ctrl {
  display: flex;
  align-items: center;
}

.mapboxer-slider-ctrl label {
  padding-right: 10px;
}

/* Legend */
.mapboxer-legend ul {
  padding: 0;
  margin-bottom: 0;
}

.mapboxer-legend li {
  list-style-type: none;
  /*margin: 0 0 8px 0;*/
  display: flex;
  vertical-align: middle;
}

.point-mark {
  width: 12px;
  height: 12px;
  align-self: center;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 12px;
  box-sizing: border-box;
  display: inline-block;
}
